<h1>{{type}} Request Received</h1>

<h2>Request Body table</h2>
<table border="1">
    <tr>
        <th>Parameter</th>
        <th>Value</th>
    </tr>
    {{#each JSONData}}
    <tr>
        <td>{{this.name}}</td>
        <td>{{this.value}}</td>
    </tr>
    {{/each}}
</table>

<br>

<h2>URL query string table</h2>
<table border="1">
    <tr>
        <th>Parameter</th>
        <th>Value</th>
    </tr>
    {{#each URLData}}
    <tr>
        <td>{{this.name}}</td>
        <td>{{this.value}}</td>
    </tr>
    {{/each}}
</table>